---
layout: page
title: Portfolio
permalink: /
enumerate: true
---

<div class="portfolio">
	{% assign works_collection = site.collections | where: "label", "works" | first %}
	{% for entry in works_collection.docs %}
		<div class="portfolio-entry">
			{% if entry.thumbnail != null %}
				<a href="{{ entry.link }}" target="_blank">
					<img src="{{ entry.thumbnail }}" class="portfolio-entry-thumbnail" alt="thumbnail">
				</a>
			{% endif %}
			<a href="{{ entry.link }}" target="_blank">
				<span class="portfolio-entry-title">{{ entry.title }}</span>
			</a>
			<span class="portfolio-entry-desc">{{ entry.summary }}</span>
			<span class="portfolio-entry-ctx">{{ entry.context }}</span>
			<ul class="portfolio-entry-roles">
				{% for tag in entry.tags %}
					<li>{{ tag }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
